body {
    background-color: lightblue;
}

root { 
    display: block;
}

.alinizq {
    text-align: left;
}

.alinder {
    text-align: right;
}

.centrado {
    margin-left:auto;
    margin-right:auto;
}
.centrado-texto {
    text-align:center;
}

.alinder-bold {
    font-weight: bold;
    text-align:right;
}
